<ion-header color="primario">
    <ion-toolbar color="primario">
        <ion-title>Reservaciones</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="inicio"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <h2>{{viewTitle}}</h2>
    </ion-row>
    <ion-row>
        <!-- Change the displayed calendar mode -->
        <ion-segment [(ngModel)]="calendar.mode">
            <ion-segment-button value="month">
                <ion-label>Mes</ion-label>
            </ion-segment-button>
            
        </ion-segment>

     
        <!-- Move back one screen of the slides -->
        <ion-col size="10" text-left>
            <ion-button fill="clear" (click)="back()">
                <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>

        <!-- Move forward one screen of the slides -->
        <ion-col size="2" text-right>
            <ion-button fill="clear" (click)="next()">
                <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-buttons>
            <ion-button color="primary">
                <ion-icon name="square"></ion-icon>
                <ion-label>Días con sesiones disponibles</ion-label>
            </ion-button>
            
        </ion-buttons>
    </ion-row>
    <ion-row>
        <ion-buttons>
            <ion-button color="success">
                <ion-icon name="square"></ion-icon>
                <ion-label>Día seleccionado</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-row>


    <calendar [eventSource]="eventSource" 
            [calendarMode]="calendar.mode" 
            [currentDate]="calendar.currentDate" 
            
            (onTitleChanged)="onViewTitleChanged($event)" 
            (onTimeSelected)="onTimeSelected($event)" 
            startHour="6"
            endHour="20" 
            step="30" 
            startingDayWeek="1"
            [monthviewEventDetailTemplate]="template">
    </calendar>

    <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-list>
            <ion-item *ngFor="let sesion of selectedDate.events" (click)="mostrarSesion(sesion)">
                <ion-label>
                    {{sesion.startTime | date: 'HH:mm' }} - {{sesion.endTime | date: 'HH:mm'}}
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button color="primary" *ngIf="sesion.restantes > 0; else sinlugares">
                        <ion-icon name="people"></ion-icon>
                        <ion-label>{{sesion.restantes}}</ion-label>
                    </ion-button>
                    <ng-template #sinlugares>
                        <ion-button color="danger">
                            <ion-icon name="people"></ion-icon>
                        <ion-label>{{sesion.restantes}}</ion-label>
                        </ion-button>
                    </ng-template>
                 </ion-buttons>
            </ion-item>
            
        </ion-list>
    </ng-template>

</ion-content>