ion-content{
    --ion-background-color:black;
}

.imagen{
    padding-top: 5rem;
    margin: 0 auto;
    width: 80%;
    height: 80%;
}

.etiquetas{
    padding-top: 2rem;
}

.botones{
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
}

