<ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-button (click)="close()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title>{{ viewTitle }}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="save()">
            <ion-icon name="checkmark" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content>
    <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Capacidad</ion-label>
        <ion-input type="number" [(ngModel)]="event.capacidad"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>


    <calendar *ngIf="modalReady" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" lockSwipes="true">
    </calendar>
</ion-content>